.superSmsSend {
  min-width: 960px;
  .uploadLine {
    display: flex;
    align-items: flex-start;

    .lineItem {
      margin-right: 16px;
      margin-bottom: 10px;
    }

    .uploadItemWrap {
      width: 160px;
      position: relative;

      .linkIcon {
        position: absolute;
        top: 56px;
        left: 8px
      }
    }


    .lineMes {
      display: flex;
      align-items: center;
      height: 36px;
    }

    .showOrder {
      margin-left: 50px;
      padding: 0 10px;
    }
    .deleteIcon {
      cursor: pointer;
    }
  }


}
