/*z-index 区域划分
*0-10 背景
*10-100 页面层级
*100-500 弹框
*999 loading 层
*/


:root {
    --ds-red: #ff3b30;
    --ds-deep-red: #e3242b;

}


/*布局---------------------------*/

/*页面最外层样式*/
.dsContent {
    background: #fff;
    padding: 0 20px 20px;
    border-radius: 4px;
}

/*可点击文案*/
.dsClickableText {
    cursor: pointer;
}

.dsClickableRed {
    color: var(--ds-red);
    cursor: pointer;
}

.dsClickableRed:hover {
    color: var(--ds-deep-red);
}

.dsRed {
    color: var(--ds-red);
}

.deepRed {
    color: var(--ds-deep-red);
}


/*常用样式简写---------------------------*/

.ds-flex-cc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ds-border {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.ds-border-radius {
    border-radius: 4px;
}


/*
* 多行省略号
*/
.ds-ellipsis-2 {
    /* autoprefixer: off */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.ds-ellipsis-3 {
    /* autoprefixer: off */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.ds-ellipsis-1 {
    /* autoprefixer: off */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.ds-ellipsis-single {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}





