@headerHeight: 70px;

.homeWrap {
  display: flex;
  min-width: 960px;

  .homeHeader {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: @headerHeight;
    background: white;
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    align-items: center;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);

    .logo {
      height: 100%;
      transition: all 0.2s;
    }

    .collapseButton {
      cursor: pointer;
    }

    .user {
      padding-left: 20px;
      text-align: right;
      padding-right: 16px;
    }

    .language {
      text-align: right;
      box-sizing: border-box;
      width: 85px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .balance {

    }

    .userName {
      color: #333333;
    }

  }

  .homeAside {
    box-sizing: border-box;
    padding-top: @headerHeight;
    width: 220px;
    height: 100vh;
    transition: all 0.5s;
    background: #1E1E2D;
  }

  .homeMain {
    box-sizing: border-box;
    padding-top: @headerHeight;
    flex: 1;
    background: #f5f5fa;
    height: 100vh;
    overflow: auto;
  }

  .homeMainContent {
    border: 1px solid blue;
    margin: 10px;
    background: #ffffff;
    overflow: auto;
  }
}
